<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-eqiv="X-UA-Compatible" content = "IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <!-- CSS -->
  <link rel='stylesheet' href='/content/app.css' />
  <link rel='stylesheet' href='/content/phone.css' /> <!--Phone CSS-->
  <link rel='stylesheet' href='/content/tablet.css' /> <!--Tablet CSS-->
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' /> <!--Bootstreps CSS-->
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css'/> <!--fort Awesome CSS-->

 <!-- JavaScript -->
 <script src="./scripts/app.js"></script> 
 <script src='/bootstrap/dist/js/bootstrap.min.js'></script> <!-- bootstrap JavaScript-->
  <script src='/jquery/dist/jquery.min.js'> </script> <!-- jqery JavaScript-->
  
</head>
<body class=" text-dark">
